// Phones and small devices
$screen-xs-min: 386px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 960px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra small devices
@mixin xs {
    @media (max-width: #{$screen-xs-min}) {
        @content;
    }
}
// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

 @mixin xltest {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

// Custom devices
@mixin rwd($screen) {
    @media (max-width: $screen + 'px') {
        @content;
    }
}