/* Colors */
$purp: #8A58D6;
$grey: #929998;
$red: #F44E55;
$white: #FFFFFF;
$warm-grey: #616D6C;
$green: #19C774;
$blackish: #323535;
$southpole: #929998;
$southpole-hover: #B0B8B7;
$dark-grey: #383838;