@font-face {
    font-family: 'Epilogue';
    src: url('fonts/subset-Epilogue-ExtraBold.woff2') format('woff2'),
        url('fonts/subset-Epilogue-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/subset-Epilogue-BoldItalic.woff2') format('woff2'),
        url('fonts/subset-Epilogue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/subset-Epilogue-Regular.woff2') format('woff2'),
        url('fonts/subset-Epilogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/subset-Epilogue-Italic.woff2') format('woff2'),
        url('fonts/subset-Epilogue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/subset-Epilogue-Bold.woff2') format('woff2'),
        url('fonts/subset-Epilogue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('fonts/subset-Epilogue-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/subset-Epilogue-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: 'Space Mono';
    src: url('fonts/subset-SpaceMono-Bold.woff2') format('woff2'),
        url('fonts/subset-SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/subset-SpaceMono-BoldItalic.woff2') format('woff2'),
        url('fonts/subset-SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/subset-SpaceMono-Italic.woff2') format('woff2'),
        url('fonts/subset-SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/subset-SpaceMono-Regular.woff2') format('woff2'),
        url('fonts/subset-SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Epilogue', sans-serif;
}