/* General */

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


html,
body {
	height: 100%;
	background-color: #616D6C;
}

body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
	content:url(images/facebook.svg) url(images/facebook-hover.svg) url(images/instagram.svg) url(images/instagram-hover.svg) url(images/linkedin.svg) url(images/linkedin-hover.svg) url(images/vimeo.svg) url(images/vimeo-hover.svg);   // load images
 }
img {
	max-width: 100%;
}

.container {
	width: calc(100% - 40px);
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	display: flex;
	@include sm(){
		flex-direction: column;
	}
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
#top {
	padding-top: 356px;
	color: #fff;
	font-family: 'Epilogue';
	font-style: normal;
	font-weight: normal;
	min-height: 1500px;
	@include md(){
		padding-top: 100px;
	}
	.content {
		position: relative;
		max-width: 753px;
		z-index: 1;
		h1 {
			font-size: 142px;
			line-height: 195.5%;
			@include md(){
				font-size: 102px;
			}
		}
		p {
			font-size: 26px;
			line-height: 1.755;
			margin-bottom: 30px;
		}
	}
	

}
#projects{
	padding-top: 200px;
	margin-top: 100px;
	position: relative;
	h2.services__headline {
		visibility: hidden;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
	}
}
#about-us {
	background-color: $grey;
	margin-bottom: 0;
	.container {
		// flex-direction: column;
	}
}
#contact-us{
	background-color: $grey;
	margin: 0 auto;
	padding: 0 0 420px;
	.container {
		// flex-direction: column;
		padding-left: 95px;
		@include md(){
			padding-left: 0;
			flex-direction: column;
		}
	}
}
#clients {

}
.to-fade-in {
	opacity: 0;
	&.fade-in {
	  animation: fade-in 0.3s forwards;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#version_number {
	background-color: black;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 222222;
	padding: 0px 10px;
	font-size: 10px; 
}