/*
Theme Name: New Motive
Author: robert@columbird.se
Author URI: https://columbird.se
Description: 
Version: 1.0
*/
/* General */
/* Colors */
@font-face {
  font-family: 'Epilogue';
  src: url("fonts/subset-Epilogue-ExtraBold.woff2") format("woff2"), url("fonts/subset-Epilogue-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url("fonts/subset-Epilogue-BoldItalic.woff2") format("woff2"), url("fonts/subset-Epilogue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Epilogue';
  src: url("fonts/subset-Epilogue-Regular.woff2") format("woff2"), url("fonts/subset-Epilogue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url("fonts/subset-Epilogue-Italic.woff2") format("woff2"), url("fonts/subset-Epilogue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Epilogue';
  src: url("fonts/subset-Epilogue-Bold.woff2") format("woff2"), url("fonts/subset-Epilogue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url("fonts/subset-Epilogue-ExtraBoldItalic.woff2") format("woff2"), url("fonts/subset-Epilogue-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono';
  src: url("fonts/subset-SpaceMono-Bold.woff2") format("woff2"), url("fonts/subset-SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url("fonts/subset-SpaceMono-BoldItalic.woff2") format("woff2"), url("fonts/subset-SpaceMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono';
  src: url("fonts/subset-SpaceMono-Italic.woff2") format("woff2"), url("fonts/subset-SpaceMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono';
  src: url("fonts/subset-SpaceMono-Regular.woff2") format("woff2"), url("fonts/subset-SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Epilogue', sans-serif;
}

/* General */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  background-color: #616D6C;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(images/facebook.svg) url(images/facebook-hover.svg) url(images/instagram.svg) url(images/instagram-hover.svg) url(images/linkedin.svg) url(images/linkedin-hover.svg) url(images/vimeo.svg) url(images/vimeo-hover.svg);
}

img {
  max-width: 100%;
}

.container {
  width: calc(100% - 40px);
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

#top {
  padding-top: 356px;
  color: #fff;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: normal;
  min-height: 1500px;
}

@media (max-width: 768px) {
  #top {
    padding-top: 100px;
  }
}

#top .content {
  position: relative;
  max-width: 753px;
  z-index: 1;
}

#top .content h1 {
  font-size: 142px;
  line-height: 195.5%;
}

@media (max-width: 768px) {
  #top .content h1 {
    font-size: 102px;
  }
}

#top .content p {
  font-size: 26px;
  line-height: 1.755;
  margin-bottom: 30px;
}

#projects {
  padding-top: 200px;
  margin-top: 100px;
  position: relative;
}

#projects h2.services__headline {
  visibility: hidden;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

#about-us {
  background-color: #929998;
  margin-bottom: 0;
}

#contact-us {
  background-color: #929998;
  margin: 0 auto;
  padding: 0 0 420px;
}

#contact-us .container {
  padding-left: 95px;
}

@media (max-width: 768px) {
  #contact-us .container {
    padding-left: 0;
    flex-direction: column;
  }
}

.to-fade-in {
  opacity: 0;
}

.to-fade-in.fade-in {
  -webkit-animation: fade-in 0.3s forwards;
          animation: fade-in 0.3s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#version_number {
  background-color: black;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 222222;
  padding: 0px 10px;
  font-size: 10px;
}

/* Components */
.headerholder {
  width: 100%;
  height: 108px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .headerholder {
    max-width: 100vw;
  }
}

.headerholder.allways-black,
.headerholder.black {
  transition: all 0.3s ease;
}

.headerholder.allways-black .header__logo,
.headerholder.black .header__logo {
  transition: all 0.3s ease;
  position: relative;
}

.header {
  max-width: calc(100% - 40px);
  width: 1140px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding-left: 95px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    width: 100vw;
    flex-direction: row-reverse;
  }
}

.header__logo__link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .header__logo__link {
    order: 1;
    justify-content: flex-start;
    top: 100px;
  }
}

.header__logo {
  width: 254px;
  height: auto;
  transition: all 0.3s ease;
  margin-top: 143px;
  position: relative;
  right: 0;
  z-index: 15;
}

@media (max-width: 768px) {
  .header__logo {
    order: 1;
    margin-top: 35px;
    width: 177px;
  }
}

.header__menuholder {
  font-size: 14px;
  font-weight: bold;
  color: #c9c9c9;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  display: flex;
}

.header__menubutton {
  width: 49px;
  height: 16px;
  position: relative;
  display: none;
}

@media (max-width: 768px) {
  .header__menubutton {
    display: block;
    order: 2;
  }
}

.header__menubutton div {
  width: 100%;
  height: 3px;
  background-color: #F44E55;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.header__menubutton div:nth-child(1) {
  top: 0;
}

.header__menubutton div:nth-child(2) {
  opacity: 0;
  top: 7px;
}

.header__menubutton div:nth-child(3) {
  top: 14px;
}

.header__menuholder.open .header__menubutton div:nth-child(1) {
  transform: rotate(155deg);
  background-color: #F44E55;
  top: 8px;
  transition: all 0.3s ease;
}

.header__menuholder.open .header__menubutton div:nth-child(2) {
  opacity: 0;
  top: -10px;
  transition: all 0.3s ease;
}

.header__menuholder.open .header__menubutton div:nth-child(3) {
  transform: rotate(-155deg);
  background-color: #F44E55;
  top: 8px;
  transition: all 0.3s ease;
}

.header__menutext {
  position: relative;
  z-index: 100;
}

.header__menuholder.open .header__menutext {
  color: #ffffff;
}

.header__menu {
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  transition: all 0.3s ease;
  display: flex;
  opacity: 1;
}

@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    width: 100vw;
    height: calc(100% - 70px);
    opacity: 0;
    top: calc(-100% -  70px);
    left: 0;
    flex-direction: row;
    background-color: #323535;
    padding: 180px 40px 0;
  }
}

.header__menu .menu__logo {
  top: 0;
  width: 177px;
  height: auto;
  transition: all 0.3s ease;
  margin-top: 35px;
  position: absolute;
  z-index: 15;
  display: none;
}

@media (max-width: 768px) {
  .header__menu .menu__logo {
    display: block;
  }
}

.header__menu ul.mainmenu {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .header__menu ul.mainmenu {
    flex-direction: column;
  }
}

.header__menu ul.mainmenu li {
  margin-right: 40px;
}

.header__menu ul.mainmenu a {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #DCDCDA;
  text-transform: none;
  text-decoration: none;
  position: relative;
}

@media (max-width: 768px) {
  .header__menu ul.mainmenu a {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 81px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
  }
  .header__menu ul.mainmenu a:hover {
    color: #19C774;
  }
}

.header__menu ul.mainmenu a::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #19C774;
  height: 7px;
  width: 100%;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .header__menu ul.mainmenu a::after {
    display: none;
  }
}

.header__menu ul.mainmenu a:hover:after {
  transform: scaleY(1);
}

.header__menuholder.open .header__menu {
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
  height: 100%;
}

/* Footer */
.footer {
  background-color: #616D6C;
  padding: 0;
}

.footer__content {
  max-width: 1140px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__content .box {
  margin-top: 150px;
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .footer__content .box {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.footer__content .box__link {
  max-width: 100%;
  width: 343px;
  height: 100px;
  background-image: url("images/button-southpole.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
  text-indent: -20em;
  transition: all 0.3s ease-in-out;
}

.footer__content .box__link:hover {
  background-image: url("images/button-southpole-hover.svg");
}

.footer__logo {
  width: 150px;
  margin-bottom: 20px;
}

.footer__info {
  color: #323535;
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.755;
  width: 50%;
}

.footer__info p {
  margin-bottom: 50px;
}

.footer__info strong, .footer__info b {
  font-weight: bold;
}

.footer__info .btn.footer {
  margin-top: 60px;
  background-color: #19C774;
  width: 343px;
  height: 100px;
  border-radius: 70px;
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 500px) {
  .footer__info .btn.footer {
    width: 300px;
    max-width: 100%;
    font-size: 16px;
  }
}

.footer__info .btn.footer:before {
  content: ' ';
  position: absolute;
  left: 30px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("images/right.svg");
  background-position: center;
  width: 22px;
  height: 100%;
}

.footer__info .btn.footer a {
  height: 100%;
  width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 60px;
  text-decoration: none;
}

.footer__info .btn.footer a::after {
  display: none;
}

.footer__info .btn.footer:hover {
  background-color: #2DE48D;
}

.footer__info a {
  color: #323535;
  text-decoration: none;
  position: relative;
}

.footer__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 132px;
}

@media (max-width: 768px) {
  .footer__links {
    margin-top: 0;
  }
}

.footer__social {
  display: flex;
}

.footer__social img {
  width: 30px;
  margin-left: 32px;
  transition: all 0.7s ease;
}

.footer__social .icon {
  width: 32px;
  height: 32px;
  margin-left: 32px;
  transition: all 0.7s ease;
  background-size: cover;
}

.footer__social .icon.fb {
  background-image: url("images/facebook.svg");
}

.footer__social .icon.fb:hover {
  background-image: url("images/facebook-hover.svg");
}

.footer__social .icon.ig {
  background-image: url("images/instagram.svg");
}

.footer__social .icon.ig:hover {
  background-image: url("images/instagram-hover.svg");
}

.footer__social .icon.ln {
  background-image: url("images/linkedin.svg");
}

.footer__social .icon.ln:hover {
  background-image: url("images/linkedin-hover.svg");
}

.footer__social .icon.vm {
  background-image: url("images/vimeo.svg");
}

.footer__social .icon.vm:hover {
  background-image: url("images/vimeo-hover.svg");
}

.footer__menu li {
  margin-bottom: 1px;
  text-align: right;
}

.footer__menu li a {
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  line-height: 19px;
  position: relative;
}

.footer a:after {
  content: '';
  left: 50%;
  bottom: -1px;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #19C774;
  transition: all 0.3s ease;
}

.footer a:hover:after {
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 440px) {
  .footer {
    padding: 40px 0 0;
  }
  .footer__info {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer__links {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .footer__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .footer__social a img {
    margin: 0 5px;
  }
  .footer__menu {
    margin-bottom: 50px;
  }
  .footer__menu li {
    text-align: center;
  }
}

.content--page {
  padding-bottom: 60px;
}

.content h2 {
  max-width: 660px;
  font-size: 56px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
}

.content h3,
.content h4,
.content h5 {
  max-width: 660px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
}

.content ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.content ul li {
  font-size: 15px;
  margin-bottom: 5px;
}

.wp-block-columns {
  width: calc(100% - 40px);
  max-width: 996px;
  margin: 0 auto;
}

.wp-block-group.has-background {
  padding: 80px 0;
  margin: 40px 0 0 0;
}

.wp-block-gallery {
  width: 996px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .content {
    padding: 40px 0 0 0;
  }
  .content p {
    font-size: 14px;
    line-height: 25px;
  }
}

.topimage {
  width: 100%;
  max-width: 1043px;
  height: 677px;
  background-size: cover;
  display: flex;
  position: absolute;
  right: 0;
  top: 316px;
  z-index: 0;
}

@media (max-width: 768px) {
  .topimage {
    top: 400px;
    right: -20px;
    left: -20px;
    width: calc(100% + 40px);
  }
}

.topimage--blank {
  width: 100%;
  height: 70px;
}

.topimage__content {
  width: calc(100% - 40px);
  max-width: 996px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.topimage h1 {
  font-size: 80px;
  margin-bottom: 65px;
  line-height: 80px;
  color: #fff;
  font-style: italic;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
}

.topimage h1:after {
  content: '';
  position: absolute;
  width: calc(100% + 140px);
  left: 0;
  bottom: -20px;
  height: 8px;
  background-color: #19C774;
}

@media only screen and (max-width: 500px) {
  .topimage {
    height: 510px;
  }
}

.boxes {
  margin: 100px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0 0 0;
  flex-wrap: wrap;
}

.box {
  width: 100%;
  max-width: 760px;
  margin-bottom: 315px;
}

.box__headline {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #616D6C;
  margin-bottom: 1em;
}

.box__text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.755;
  color: #FFFFFF;
  margin-bottom: 28px;
}

@media (max-width: 768px) {
  .box__text {
    font-size: 19px;
  }
}

.box__link {
  color: #000000;
  font-family: 'Space Mono', sans-serif;
  font-size: 15px;
  line-height: 28px;
  text-decoration: none;
  position: relative;
}

.box__link:after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s ease;
}

.box__link:hover:after {
  height: 6px;
  bottom: -10px;
  transition: all 0.2s ease;
}

.contacts {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
  }
}

.contact {
  display: flex;
  color: #323535;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Epilogue';
  font-style: normal;
  font-size: 19px;
  line-height: 175.5%;
  margin-bottom: 120px;
}

.contact h3 {
  font-weight: 700;
}

.contact p {
  font-weight: 400;
}

.contact a {
  color: #323535;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.contact a:before {
  content: " ";
  position: absolute;
  bottom: -0px;
  left: 0;
  background-color: #19C774;
  height: 100%;
  max-height: 5px;
  padding-top: 5px;
  width: 100%;
  opacity: 1;
  z-index: -1;
  transition: max-height 0.3s ease-in-out;
}

.contact a:hover:before {
  max-height: 11px;
}

@media only screen and (max-width: 600px) {
  .box {
    width: 100%;
  }
}

.contactform__background {
  padding: 50px 0 60px 0;
  background-color: #929998;
}

.contactform {
  max-width: 996px;
  margin: 0 auto;
  width: calc(100% - 40px);
}

.contactform__headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.contactform__holder {
  display: flex;
  flex-wrap: wrap;
}

.contactform__inputfields {
  width: 370px;
  margin-right: 20px;
}

.contactform__row {
  width: 100%;
  position: relative;
  z-index: 10;
  background: #ffffff;
  margin-bottom: 20px;
}

.contactform__holder label {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  z-index: -1;
}

.contactform__row input {
  width: 100%;
  height: 55px;
  border: 0;
  padding: 9px 20px 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: transparent;
}

.contactform__row input:focus,
.contactform__row input:active {
  outline: 1px solid #ff702b;
}

.contactform textarea.active + label,
.contactform input.active + label {
  top: 9px;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.contactform__message textarea:focus + label,
.contactform__row input:focus + label,
.contactform__message textarea:focus + label,
.contactform__row input:focus + label {
  top: 9px;
  font-size: 11px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.contactform__message {
  flex: 1;
  height: 205px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}

.contactform__message textarea {
  width: 100%;
  height: 100%;
  border: 0;
  resize: none;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  background-color: transparent;
}

.contactform__message textarea:active,
.contactform__message textarea:focus {
  outline: 1px solid #ff702b;
}

.contactform__footer {
  display: flex;
  align-items: center;
  width: 100%;
}

#contactform__submit {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

.contactform__status {
  font-weight: bold;
  font-size: 14px;
}

#contactform__status--success {
  display: none;
}

#contactform__status--error {
  display: none;
}

#contactform__submit:after {
  content: '';
  left: 0;
  bottom: -5px;
  background-color: #19C774;
  width: 100%;
  height: 4px;
  position: absolute;
  transition: all 0.2s ease;
}

#contactform__submit:hover:after {
  bottom: -7px;
  height: 6px;
  transition: all 0.2s ease;
}

#contactform__loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

#contact_fax {
  display: none;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 860px) {
  .contactform__inputfields {
    width: 260px;
  }
}

@media only screen and (max-width: 670px) {
  .contactform__inputfields {
    width: 100%;
    margin-right: 0;
  }
  .contactform__message {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .contactform__headline {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .contactform__footer {
    justify-content: center;
    flex-direction: column-reverse;
  }
  #contactform__submit {
    margin-left: unset;
  }
  #contactform__status--success {
    padding-top: 50px;
  }
}

.bigimage {
  width: 100%;
  background-color: #697379;
  background-size: cover;
  background-position: bottom center;
  padding-top: 50%;
}

.services__background {
  padding: 60px 0 65px 0;
}

.services__content {
  width: calc(100% - 40px);
  max-width: 996px;
  margin: 0 auto;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: calc(100% - 100px);
}

@media (max-width: 768px) {
  .services {
    width: 100%;
    justify-content: center;
  }
}

.services__headline {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 25px;
}

.service {
  width: 233px;
  padding-top: 337px;
  position: relative;
  margin: 0 0 40px 40px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.service.active .service__content, .service:hover .service__content, .service:active .service__content {
  opacity: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .service {
    margin: 0 0 180px;
  }
}

.service h2 {
  font-size: 19px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media (max-width: 768px) {
  .service h2 {
    right: auto;
    left: 20px;
    bottom: -40px;
  }
}

.service h2.blackish {
  color: #323535;
}

@media (max-width: 768px) {
  .service h2.blackish {
    color: #FFFFFF;
  }
}

.service h2:before {
  content: " ";
  left: 0;
  right: 0;
  bottom: -4px;
  height: 7px;
  background-color: #19C774;
  position: absolute;
}

.service__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 40px 25px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.service__headline {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #323535;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.service__headline--small {
  font-size: 15px;
  margin-bottom: 5px;
}

.service:hover .service__text:after {
  bottom: -18px;
  height: 7px;
  transition: all 0.2s ease;
}

.service__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #8A58D6;
  padding: 25px;
}

.service__text p {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.755;
  color: #FFFFFF;
}

.service__subheadline {
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.service--hidden {
  display: none;
}

.service__loadmoreholder {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#service__loadmore {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 250px auto;
}

.client {
  background-size: cover;
  height: 85px;
  width: calc(100% / 7);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.client img {
  max-height: 80px;
  width: auto;
}

@media (max-width: 768px) {
  .client {
    width: calc((100% / 3) - 30px);
    margin: 10px;
  }
}

.cookieconcent {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 190;
  padding: 20px 0;
  display: none;
}

.cookie__content {
  display: flex;
  max-width: 800px;
  width: calc(100% - 40px);
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.cookie__msg {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.cookie__btn {
  border: solid 1px;
  padding: 10px 15px;
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cookie__btn:after,
.cookie__btn:hover {
  background-color: #000000;
  color: #ffffff;
}
