.cbird_meta_box_section {
	margin-bottom: 80px;
}

.cbird_meta_box {
	padding: 20px 0;
	margin-bottom: 20px;
	display: flex;
	border-bottom: 1px solid #ededed;
	flex-wrap: wrap;
	max-width: 1100px;
	width: 100%;
}

.cbird_meta_box_title {
	width: 250px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

.cbird_meta_box_title span {
    font-size: 12px;
    font-weight: normal;
    width: calc(100% - 20px);
}

.cbird_meta_box_field {
	flex: 1;
}

.cbird_meta_box_field input[type=text],
.cbird_meta_box_field textarea {
	/*max-width: 400px;*/
	width: 100%;
}

.cbird_meta_box_field textarea {
	height: 300px;
	resize: none;
}

.cbird_meta_heading {
	width: 100%;
	height: 40px;
	display: flex;
	background-color: black;
	color: white;
	font-size: 20px;	
}

.cbird_meta_heading span {
	margin: auto 20px;
}

.cbird_meta_image_box {
	max-width: 400px;
	min-height: 220px;
	border: 1px solid #b9b9b9;
    background-repeat: no-repeat;
    background-position: center;
	padding: 10px;
}

.cbird_meta_button {
	background: #000000;
	color: #ffffff;
	padding: 5px 20px;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
	margin-right: 18px;
	font-size: 12px;
}

.cbird_meta_remove_image {
	margin-right: 0;
}


h2 {
	color: #666;
}
.cbird_meta_box_field .radio {
	color: #666;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 35px;
	
}
.cbird_meta_box_field .radio input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.cbird_meta_box_field .radio label{
	display: block;
	position: relative;
	font-weight: 400;
	font-size: 1em;
	padding: 0 0 0 35px;
	margin: 10px auto;
	height: 30px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.cbird_meta_box_field .radio:hover label{
	color: #1e1e1e;
}

.cbird_meta_box_field .radio .check{
  display: block;
  position: absolute;
  border: 2px solid #AAAAAA;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 10px;
  left: 10px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.cbird_meta_box_field .radio:hover .check {
  border: 2px solid #1e1e1e;
}

.cbird_meta_box_field .radio .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 10px;
	width: 10px;
	top: 0px;
	left: 0px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.cbird_meta_box_field .radio input[type=radio]:checked ~ .check {
  border: 2px solid #333;
}

.cbird_meta_box_field .radio input[type=radio]:checked ~ .check::before{
  background: #333;
}

.cbird_meta_box_field .radio input[type=radio]:checked ~ label{
  color: #333;
}

.field {
	background-color: #ffffff;
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

.field_content {
	padding: 40px;
	background-color: #ffffff;
}

.field_header {
	background: #23282d;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    color: #ffffff;
    font-size: 18px;
}

.field_header input {
	width: 80%;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}


.remove_field {
	width: 32px;
    height: 32px;
    position: absolute;
    right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.move_field {
	width: 32px;
    height: 32px;
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.hide_field {
	width: 32px;
    height: 32px;
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

@media only screen and (max-width: 720px) {

	.cbird_meta_box_title {
		width: 100%;
		margin-bottom: 10px;
	}

	.cbird_meta_box_field {
		width: 100%;
	}

}