@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700);@import url(https://fonts.googleapis.com/css?family=Raleway:600,600i,800,800i&display=swap);/*
Theme Name: Columbird Start Theme
Author: Columbird
Author URI: https://columbird.se
Description: 
Version: 1.0
*/
/* General */
/* Colors */
/* Fonts */
html {
  font-size: 18px;
}

body, p, li {
  color: #000;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 34px;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin: 0 0 20px;
}

h2 {
  font-size: 30px;
  line-height: 1.1;
  margin: 0 0 15px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.1;
  margin: 0;
}

h4 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  margin: 0;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.1;
  margin: 0;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.1;
  margin: 0;
}

p,
li {
  margin: 0 0 20px;
}

p a,
li a {
  font-weight: 600;
  position: relative;
  color: #000000;
}

p a:after,
li a:after {
  content: " ";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 5px;
  background-color: #ff0000;
  width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

p a:hover,
li a:hover {
  text-decoration: none;
}

p a:hover:after,
li a:hover:after {
  width: 100%;
}

strong, b {
  font-weight: 600;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

/* Utility */
.utility__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.utility__container--small {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.utility__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.utility__centertext {
  text-align: center;
}

/* General */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

body > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

img {
  max-width: 100%;
}

#version_number {
  background-color: black;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 222222;
  padding: 0px 10px;
  font-size: 10px;
}

/* Components */
/* Header */
.header {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  background-color: #000000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo {
  min-width: 130px;
  min-height: 30px;
  background-color: #ffffff;
}

.cookieconcent {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 0;
  display: none;
}

.cookieconcent .cookie__msg {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

.cookieconcent .cookie__msg b {
  font-weight: 700;
}

.cookieconcent .cookie__btn {
  border: solid 1px;
  padding: 5px 15px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cookieconcent .cookie__btn:hover, .cookieconcent .cookie__btn:focus {
  background-color: #ff0000 !important;
  color: #ffffff !important;
  border-color: #ff0000 !important;
}

@media only screen and (max-width: 768px) {
  .header {
    min-height: 65px;
  }
}

/* Footer */
.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 54px 0;
  text-align: center;
  margin-top: 40px;
}

/* Mainmenu */
.mainmenu-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
  z-index: 2000;
}

.mainmenu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: auto 0;
}

.mainmenu li {
  padding: 30px 16px 30px 15px;
  color: #ffffff;
  position: relative;
}

.mainmenu li.open {
  z-index: 200;
}

.mainmenu li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  word-break: break-all;
  position: relative;
}

.mainmenu li a:hover {
  color: #000000;
}

.mainmenu li a:hover:after {
  background-color: #000000;
}

.mainmenu > li > a:after {
  content: ' ';
  background-color: #ffffff;
  width: 0;
  height: 3px;
  left: 50%;
  position: absolute;
  bottom: -8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mainmenu > li > a:hover:after {
  width: 24px;
  left: calc(50% - 12px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mainmenu > .submenu-has-children {
  padding-right: 55px;
}

.mainmenu > .active-parent > a:after,
.mainmenu > .active > a:after {
  width: 24px;
  left: calc(50% - 12px);
}

/* Submenu first */
.submenu-first {
  display: none;
  position: absolute;
  background: #000000;
  top: 75px;
  left: 0;
  width: 100%;
  min-width: 220px;
  font-size: 16px;
  padding-bottom: 20px;
  z-index: 1000;
}

.submenu-first > li {
  padding: 14px 16px 0 16px;
}

.submenu-first > .submenu-has-children > .submenu-arrow {
  top: 12px;
}

.active-parent > .submenu-arrow {
  background: url("img/arrow-yellow.png");
  background-size: 20px 20px;
}

/* Submenu second */
.submenu-second {
  width: calc(100% + 16px);
  display: none;
}

.submenu-second li a {
  font-size: 13px;
}

.submenu-second > li {
  padding: 6px 12px 0 12px;
}

.submenu-second > a {
  position: relative;
}

.submenu-second a:after {
  content: ' ';
  position: absolute;
  width: 7px;
  height: 1px;
  background: #ffffff;
  top: 7px;
  left: -11px;
}

.submenu-second .submenu-arrow {
  top: 5px;
}

.submenu-second .active a:after {
  background: #000000;
}

/* Submenu third */
.submenu-third {
  display: none;
}

.submenu-third > li {
  padding: 6px 10px 0px 10px;
}

/* Submenu forth */
.submenu-forth {
  display: none;
}

/* Submenu arrow */
.submenu-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 27px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: purple;
}

.submenu-arrow-open {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* mobile menu button */
.menu-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
}

.menu-btn div {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 15px;
}

.menu-btn div:nth-child(1) {
  top: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-btn div:nth-child(2) {
  top: 26px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-btn div:nth-child(3) {
  top: 34px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-btn.open div:nth-child(1) {
  top: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-btn.open div:nth-child(2) {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-btn.open div:nth-child(3) {
  top: 26px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active-parent > a,
.active > a {
  color: #000000 !important;
}

@media only screen and (max-width: 1000px) {
  .mainmenu-holder {
    position: fixed;
    top: 65px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: none;
  }
  .mainmenu {
    width: unset;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    overflow: scroll;
  }
  .mainmenu > .submenu-has-children > .submenu-arrow {
    display: block;
  }
  .mainmenu > .active-parent > a:after,
  .mainmenu > .active > a:after {
    width: 100%;
    left: 0;
    background: #000000;
  }
  .mainmenu > li {
    border-bottom: 1px solid #000000;
    padding: 20px 0 20px 0;
  }
  .mainmenu > .submenu-has-children {
    padding-right: 0;
  }
  .active > a,
  .active-parent > a {
    color: #000000 !important;
  }
  .active > a {
    font-weight: 600 !important;
  }
  .menu-btn {
    display: block;
  }
  .submenu-first {
    position: relative;
    top: unset;
    background: unset;
    min-width: unset;
    padding-bottom: 0;
  }
  .submenu-first > li {
    padding: 14px 0 0 0;
  }
  .submenu-first > li > a {
    font-size: 18px;
    font-weight: normal;
  }
  .submenu-first > .submenu-has-children > .submenu-arrow {
    top: 14px;
  }
  .submenu-second {
    padding-top: 8px;
  }
  .submenu-second > li {
    font-size: 14px;
    padding: 0;
  }
  .submenu-second > li > a {
    font-size: 14px;
    font-weight: normal;
  }
  .submenu-second a:after {
    background: #000000;
    top: 6px;
    left: -11px;
  }
  .mainmenu > li > a:after {
    bottom: -4px;
  }
  .mainmenu li a {
    font-size: 22px;
    color: #000000;
    margin: 0 10px;
  }
  .submenu-has-children {
    padding-right: 0;
  }
  .submenu-arrow {
    top: 22px;
    background-color: purple;
  }
  .active-parent > .submenu-arrow {
    background: url("img/arrow-black.png");
    background-size: 20px 20px;
  }
  .active-parent > a,
  .active > a {
    color: #000000 !important;
  }
}
