@font-face {
    font-family: 'Space Mono';
    src: url('subset-SpaceMono-Bold.woff2') format('woff2'),
        url('subset-SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('subset-SpaceMono-BoldItalic.woff2') format('woff2'),
        url('subset-SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('subset-SpaceMono-Italic.woff2') format('woff2'),
        url('subset-SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('subset-SpaceMono-Regular.woff2') format('woff2'),
        url('subset-SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

