
.boxes {
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0 0 0;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    max-width: 760px;
    margin-bottom: 315px;
}

.box__headline {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #616D6C;
    margin-bottom: 1em;
}

.box__text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.755;
    color: #FFFFFF;
    margin-bottom: 28px;
    @include md(){
        font-size: 19px;
    }
}

.box__link {
    color: #000000;
    font-family: 'Space Mono', sans-serif;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
    position: relative;
}

.box__link:after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s ease;
}

.box__link:hover:after {
    height: 6px;
    bottom: -10px;
    transition: all 0.2s ease;
}

.contacts {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    @include md(){
        flex-direction: column;
    }
}
.contact {
    display: flex;
    // width: 50%;
    color: $blackish;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Epilogue';
    font-style: normal;
    font-size: 19px;
    line-height: 175.5%;
    margin-bottom: 120px;
    h3 {
        font-weight: 700;
    }
    p {
        font-weight: 400;
    }
    a {
        color: #323535;
        text-decoration: none;
        position: relative;
        z-index: 2;
    }
    a:before {
        content: " ";
        position: absolute;
        bottom: -0px;
        left: 0;
        background-color: $green;
        height: 100%;
        max-height: 5px;
        padding-top: 5px;
        width: 100%;
        opacity: 1;
        z-index: -1;
        transition: max-height 0.3s ease-in-out;
    }
    a:hover:before {
        max-height: 11px;

    }
}

@media only screen and (max-width: 600px) {
    
    .box {
        width: 100%;
    }

}