.clients {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 250px auto;
}
.client {
    background-size: cover;
    height: 85px;
    width: calc(100% / 7);
    display: flex;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    img {
        max-height: 80px;
        width: auto;
    }
    @include md() {
        width: calc((100% / 3) - 30px);
        margin: 10px;
    }


}