
.contactform__background {
    padding: 50px 0 60px 0;
    background-color: $grey;
}

.contactform {
    max-width: 996px;
    margin: 0 auto;
    width: calc(100% - 40px);
}

.contactform__headline {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.contactform__holder {
    display: flex;
    flex-wrap: wrap;
}

.contactform__inputfields {
    width: 370px;
    margin-right: 20px;
}

.contactform__row {
    width: 100%;
    position: relative;
    z-index: 10;
    background: #ffffff;
    margin-bottom: 20px;
}

.contactform__holder label {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    z-index: -1;
}

.contactform__row input {
    width: 100%;
    height: 55px;
    border: 0;
    padding: 9px 20px 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: transparent;
}

.contactform__row input:focus,
.contactform__row input:active {
    outline: 1px solid #ff702b;
}

.contactform textarea.active + label,
.contactform input.active + label {
    top: 9px;
    font-size: 11px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.contactform__message textarea:focus + label,
.contactform__row input:focus + label,
.contactform__message textarea:focus + label,
.contactform__row input:focus + label {
    top: 9px;
    font-size: 11px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.contactform__message {
    flex: 1;
    height: 205px;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.contactform__message textarea {
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    background-color: transparent;
}

.contactform__message textarea:active,
.contactform__message textarea:focus {
    outline: 1px solid #ff702b;
}

.contactform__footer {
    display: flex;
    align-items: center;
    width: 100%;
}

#contactform__submit {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    position: relative;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
}

.contactform__status {
    font-weight: bold;
    font-size: 14px;
}

#contactform__status--success {
    display: none;
}

#contactform__status--error {
    display: none;
}

#contactform__submit:after {
    content: '';
    left: 0;
    bottom: -5px;
    background-color: $green;
    width: 100%;
    height: 4px;
    position: absolute;
    transition: all 0.2s ease;
}

#contactform__submit:hover:after {
    bottom: -7px;
    height: 6px;
    transition: all 0.2s ease;
}

#contactform__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

#contact_fax {
    display: none;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 860px) {
    
    .contactform__inputfields {
        width: 260px;
    }

}

@media only screen and (max-width: 670px) {
    
    .contactform__inputfields {
        width: 100%;
        margin-right: 0;
    }

    .contactform__message {
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 500px) {
    
    .contactform__headline {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .contactform__footer {
        justify-content: center;
        flex-direction: column-reverse;
    }

    #contactform__submit {
        margin-left: unset;
    }

    #contactform__status--success {
        padding-top: 50px;
    }

}