
.content {
    // padding: 70px 0 0 0;
}

.content--page {
    padding-bottom: 60px;
}

.content h1 {
    
}

.content h2 {
    max-width: 660px;
    font-size: 56px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}

.content h3,
.content h4,
.content h5 {
    max-width: 660px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 10px;
}

.content ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.content ul li {
    font-size: 15px;
    margin-bottom: 5px;
}

.content p {
    
}

.wp-block-columns {
    width: calc(100% - 40px);
    max-width: 996px;
    margin: 0 auto;
}

.wp-block-group.has-background {
    padding: 80px 0;
    margin: 40px 0 0 0;
}

.wp-block-gallery {
    width: 996px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    
    .content {
        padding: 40px 0 0 0;
    }

    .content p {
        font-size: 14px;
        line-height: 25px;
    }

}