
 .cookieconcent  {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 190;
    padding: 20px 0;
    display: none;
}

.cookie__content {
    display: flex;
    max-width: 800px;
    width: calc(100% - 40px);
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;    
}

.cookie__msg {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

.cookie__btn {
    border: solid 1px;
    padding: 10px 15px;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cookie__btn:after,
.cookie__btn:hover {
    background-color: #000000; 
    color: #ffffff;
}