/* Footer */



.footer {
	background-color: $warm-grey;
	padding: 0;
}

.footer__content {
	max-width: 1140px;
	width: calc(100% - 40px);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.box {
		margin-top: 150px;
		margin-bottom: 150px;
		@include md(){
			margin-top: 75px;
			margin-bottom: 75px;
		}
	}
	.box__link {
		max-width: 100%;
		width: 343px;
		height: 100px;
		background-image: url("images/button-southpole.svg");
		background-size: 100%;
		background-repeat: no-repeat;
		position: relative;
		display: block;
		overflow: hidden;
		text-indent: -20em;
		transition: all 0.3s ease-in-out;
		&:hover {
			background-image: url("images/button-southpole-hover.svg");
		}
	}
}

.footer__logo {
	width: 150px;
	margin-bottom: 20px;
}

.footer__info {
	color: #323535;
	font-family: Epilogue;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 1.755;
	width: 50%;
	p {
		margin-bottom: 50px;
	}
	strong, b {
		font-weight: bold;
	}
	.btn.footer {
		margin-top: 60px;
		background-color: $green;
		
		width: 343px;
		height: 100px;
		border-radius: 70px;
		
		display: flex;
		
		position: relative;
		transition: all 0.3s ease-in-out;
		
		@include rwd(500){
			width: 300px;
			max-width: 100%;
			font-size: 16px;
		}
		&:before{
			content: ' ';
			position: absolute;
			left: 30px;
			top: 0;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('images/right.svg');
			background-position: center;
			width: 22px;
			height: 100%;
			
		}
		a {
			height: 100%;
			width: 100%;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			display: flex;
			align-content: center;
			align-items: center;
			padding-left: 60px;
			text-decoration: none;

			&::after {
				display: none;
			}
		
		}
	}
	.btn.footer:hover {
		background-color: #2DE48D;
	}

}	

.footer__info a {
	color: $blackish;
	text-decoration: none;
	position: relative;
}

.footer__info a:after {

}
.footer__links {
	width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
	margin-top: 132px;
	@include md(){
		margin-top: 0;
	}
}
.footer__social {
	display: flex;
	// margin-bottom: 70px;
	img {
		width: 30px;
		margin-left: 32px;
		transition: all 0.7s ease;
	}
	.icon {
		width: 32px;
		height: 32px;
		margin-left: 32px;
		transition: all 0.7s ease;
		background-size: cover;
		&.fb {
			background-image: url("images/facebook.svg");
			&:hover{
				background-image: url("images/facebook-hover.svg");
			}
		}
		&.ig {
			background-image: url("images/instagram.svg");
			&:hover{
				background-image: url("images/instagram-hover.svg");
			}
		}
		&.ln {
			background-image: url("images/linkedin.svg");
			&:hover{
				background-image: url("images/linkedin-hover.svg");
			}
		}
		&.vm{
			background-image: url("images/vimeo.svg");
			// background-position: 0 0;
			&:hover{
				background-image: url("images/vimeo-hover.svg");
				// background-position: 0 50%;
			}
		}
		
	}
}



.footer__menu li {
	margin-bottom: 1px;
	text-align: right;
}

.footer__menu li a {
	color: #ffffff;
	font-size: 13px;
	text-decoration: none;
	line-height: 19px;
	position: relative;
}

.footer a:after {
	content: '';
	left: 50%;
	bottom: -1px;
	position: absolute;
	width: 0;
	height: 2px;
	background-color: $green;
	transition: all 0.3s ease;
}

.footer a:hover:after {
	width: 100%;
	left: 0;
	transition: all 0.3s ease;
}

@media only screen and (max-width: 440px) {
	
	.footer {
		padding: 40px 0 0;
	}

	.footer__info {
		width: 100%;
		margin-bottom: 50px;
		// text-align: center;
	}

	.footer__links {
		display: flex;
		width: 100%;
		flex-direction: column-reverse;
	}

	.footer__social {
		justify-content: flex-end;
		margin-bottom: 0;
	}

	.footer__social a img{
		margin: 0 5px;
	}

	.footer__menu {
		margin-bottom: 50px;
	}

	.footer__menu li {
		text-align: center;
	}

}