.headerholder {
	width: 100%;
	height: 108px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: all 0.3s ease;
	@include md() {
		max-width: 100vw;
	}
}

.headerholder.allways-black,
.headerholder.black {
	transition: all 0.3s ease;
}

.headerholder.allways-black .header__logo,
.headerholder.black .header__logo {
	// width: 100px;
	transition: all 0.3s ease;
	position: relative;
	// margin-top: auto;
}

.header {
	max-width: calc(100% - 40px);
	width: 1140px;
	height: 100%;
	display: flex;
	margin: 0 auto;
	padding-left: 95px;
	align-items: center;
	justify-content: space-between;
	position: relative;
    
	@include md() {
		width: 100vw;
		flex-direction: row-reverse;
	}
}
.header__logo__link {
	width: 100%;
    display: flex;
    justify-content: flex-end;
	@include md(){
		order: 1;
		justify-content: flex-start;
		top: 100px;
	}
}
.header__logo {
	width: 254px;
	height: auto;
	transition: all 0.3s ease;
	margin-top: 143px;
	position: relative;
	right: 0;
	z-index: 15;

	@include md(){
		order: 1;
		margin-top: 35px;
		width: 177px;
	}
}

.header__menuholder {
	font-size: 14px;
    font-weight: bold;
    color: #c9c9c9;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0;
	cursor: pointer;
	z-index: 10;
	display: flex;
}

.header__menubutton {
	width: 49px;
	height: 16px;
	// margin-left: 20px;
	position: relative;
	display: none;
	@include md(){
		display: block;
		order: 2;
	}
}

.header__menubutton div {
	width: 100%;
	height: 3px;
	background-color: #F44E55;
	position: absolute;
	left: 0;
	transition: all 0.3s ease;
	
}

.header__menubutton div:nth-child(1) {
	top: 0;
}

.header__menubutton div:nth-child(2) {
	opacity: 0;
	top: 7px;
}

.header__menubutton div:nth-child(3) {
	top: 14px;
}

.header__menuholder.open .header__menubutton div:nth-child(1) {
	transform: rotate(155deg);
	background-color: #F44E55;
	top: 8px;
	transition: all 0.3s ease;
}

.header__menuholder.open .header__menubutton div:nth-child(2) {
	opacity: 0;
	top: -10px;
	transition: all 0.3s ease;
}

.header__menuholder.open .header__menubutton div:nth-child(3) {
	transform: rotate(-155deg);
	background-color: #F44E55;
	top: 8px;
	transition: all 0.3s ease;
}

.header__menutext {
	position: relative;
	z-index: 100;
}

.header__menuholder.open .header__menutext {
	color: #ffffff;
}

.header__menu {
	padding: 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
	transition: all 0.3s ease;
	display: flex;
	opacity: 1;
	@include md(){
		position: fixed;
		width: 100vw;
		height: calc(100% - 70px);
		opacity: 0;
		top: calc(-100% -  70px);
    	left: 0;
		flex-direction: row;
		background-color: #323535;
		padding: 180px 40px 0;
	}
	.menu__logo {
		top: 0;
		width: 177px;
		height: auto;
		transition: all 0.3s ease;
		margin-top: 35px;
		position: absolute;
		z-index: 15;
		display: none;

		@include md(){
			display: block;
		}
	}
	ul.mainmenu {
		display: flex;
		flex-direction: row;
		@include md() {
			flex-direction: column;
		}
		li {
			margin-right: 40px;
		}
		a {
			font-family: Space Mono;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.03em;
			color: #DCDCDA;
			text-transform: none;
			text-decoration: none;
			position: relative;
			@include md() {
				font-family: Space Mono;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 81px;
				letter-spacing: -0.03em;
				color: #FFFFFF;
				&:hover{
					color: $green;
				}
			}
			&::after {
				content: " ";
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: $green;
				height: 7px;
				width: 100%;
				z-index: -1;
				transform: scaleY(0);
				transition: transform 0.3s ease-in-out;
				@include md() {
					display: none;
				}
			}
			&:hover:after{
				transform: scaleY(1);
			}
		}
	}
}

.header__menuholder.open .header__menu {
	top: 0;
	opacity: 1;
	transition: all 0.3s ease;
	height: 100%;
}

@media only screen and (max-width: 700px) {
	
}