
.reference--spacing {
    width: 100%;
    height: 40px;
}

.reference {
    padding-bottom: 50px;
}

.reference__header {
    margin-left: auto;
    z-index: 1;
    font-size: 26px;
    color: #ffffff;
    width: 308px;
    max-width: 100%;
    padding-bottom: 16px;
    border-bottom: 8px solid $orange;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 45px;
}

.reference__headline {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: end;
    
}

.reference_gallery {
    max-width: 996px;
    width: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 40px auto;
}

.reference_gallery img {
    margin-bottom: 30px;
}

.reference_gallery__left {
    width: 66.27%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.reference_gallery__right {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

@media only screen and (max-width: 600px) {
    
    .reference_gallery img {
        margin-bottom: 20px;
    }

    .reference_gallery__left {
        margin-right: 20px;
    }

}

@media only screen and (max-width: 400px) {

    .reference {
        padding-bottom: 20px;
    }

    .reference_gallery__left,
    .reference_gallery__right {
        width: 100%;
        margin: 0;
        flex: unset;
    }

    .reference_gallery { 
        margin-bottom: 20px;
    }

}