
.services__background {
    // background-color: $gray;
    padding: 60px 0 65px 0;
}

.services__content {
    width: calc(100% - 40px);
    max-width: 996px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: calc(100% - 100px);
    @include md() {
        width: 100%;
        justify-content: center;
    }
}

.services__headline {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 25px;
}

.service {
    width: 233px;
    padding-top: 337px;
    position: relative;
    margin: 0 0 40px 40px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    &.active, &:hover, &:active {
        .service__content {
            opacity: 1;
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
        }
    }
    @include md {
        margin: 0 0 180px;
    }
    h2 {
        font-size: 19px;
        font-weight: bold;
        position: absolute;
        right: 20px;
        bottom: 20px;
        @include md { 
            right: auto;
            left: 20px;
            bottom: -40px;
        }
        &.blackish{
            color: $blackish;
            @include md(){
                color: #FFFFFF;
            }
        }
        &:before{
            content: " ";
            left: 0;
            right: 0;
            bottom: -4px;
            height: 7px;
            background-color: $green;
            position: absolute;
        }
    }
}

.service__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 40px 25px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.service__headline {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #323535;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.service__headline--small {
    font-size: 15px;
    margin-bottom: 5px;
}


.service:hover .service__text:after {
    bottom: -18px;
    height: 7px;
    transition: all 0.2s ease;
}

.service__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #8A58D6;
    padding: 25px;

    p {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.755;
        color: #FFFFFF;
    }
}

.service__subheadline {
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.service--hidden {
    display: none;
}

.service__loadmoreholder {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#service__loadmore {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

