
.slider {
    width: 100%;
    height: 768px;
    position: relative;
}

.slider__content div .slider__line {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;    
    display: flex;
    justify-content: flex-end;
}

.slider__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slick-slide {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.slick-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
}

.slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    z-index: 80;
}

.slick-dots button {
    width: 28px;
    height: 28px;
    border: 0;
    margin: 0 3px;
    background: #fff;
    font-size: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-active button {
    background: $orange;
    transition: all 0.3s ease;
}

.slider__content:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5130427170868348) 0%, rgba(20,20,20,0) 40%, rgba(255,255,255,0) 100%);
}

.slider__text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 33px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.slider__text h1 {
    max-width: calc(100% - 40px);
    text-align: center;
}

.slider__filter {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
}

@media only screen and (max-width: 700px) {
 
    .slider {
        height: 400px;
        overflow: hidden;
    }

}

@media only screen and (max-width: 500px) {
    
    .slider__text {
        font-size: 28px; 
    }

    .slick-dots button {
        width: 20px;
        height: 20px;
    }

}


@media only screen and (max-width: 470px) {
    
    .slider__content div .slider__line {
        display: block;
    }
}