
.topimage {
    width: 100%;
    max-width: 1043px;
    height: 677px;
    background-size: cover;
    display: flex;
    position: absolute;
    right: 0;
    top: 316px;
    z-index: 0;
    @include md() {
        top: 400px;
        right: -20px;
        left: -20px;
        width: calc(100% + 40px);
    }

}

.topimage--blank {
    width: 100%;
    height: 70px;
}


.topimage__content {
    width: calc(100% - 40px);
    max-width: 996px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.topimage h1 {
    font-size: 80px;
    margin-bottom: 65px;
    line-height: 80px;
    color: #fff;
    font-style: italic;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
}

.topimage h1:after {
    content: '';
    position: absolute;
    width: calc(100% + 140px);
    left: 0;
    bottom: -20px;
    height: 8px;
    background-color: $green;
}

@media only screen and (max-width: 500px) {
    
    .topimage {
        height: 510px;
    }

}